* {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(8, 15, 36, 0.171);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.caixaTexto {

    margin-top: 20px;
}

main h1 {

    margin-top: 30px;
    color: rgb(8, 42, 88);
}

#tarefa {
    margin-right: 20px;
    padding: 5px;
    width: 250px;
    border-radius: 15px;
    border: none;
    background-color: white;
    height: 30px;
}
#tarefa:focus{
    outline: none;
}


.btn {
    border: none;
    border-radius: 10px;
    background-color: rgb(8, 42, 88);
    color: white;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    transition: ease-in-out 100ms;
    
}

.btn:hover {
    box-shadow: .5vh .5vh 1vh rgba(68, 75, 119, 0.582);
    transform: translate(-.2vh, -.2vh);
    transition: ease-in-out 100ms;
}

.container {
    width: 60vh;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 1vh 1vh 5vh rgba(86, 103, 151, 0.527);
    padding: 20px;
    position: relative;
    overflow-y: scroll;
}

.semTarefa {
    color: rgba(128, 128, 128, 0.479);
}

li {
    cursor: pointer;
    padding: 5px;
}

.popup {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 60px;
    margin-left: 15px;
    height: 25px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    margin-right: 3px;
    border-radius: 50%;
    background-color: rgba(112, 128, 144, 0.589);
    cursor: pointer;
    text-decoration: none;
    transition: .7s;
}

.icon:hover {
    background-color: rgba(112, 128, 144, 0.336);
}

.left {
    margin-top: -22px;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    color: rgb(204, 105, 105);
}

.left:hover {
    background-color: rgba(112, 128, 144, 0.336);
}

.tarefas {
    display: flex;
    flex-direction: row;
}

.btns {
    z-index: 1;
    margin-top: -6vh;
    margin-right: -18vw;
}

.concluidas {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 1vh 1vh 5vh rgba(86, 103, 151, 0.527);
    width: 60vh;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    top: 167px;
    border-radius: 5px;
    padding: 20px;
}

#btnvoltar {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.tarefaConcluida {
    color: rgba(128, 128, 128, 0.479);
}
::-webkit-scrollbar{
    border-radius: 1vh;
    width: .5vh;
    background-color: rgba(8, 15, 36, 0.171);
}
.container:hover::-webkit-scrollbar{
    width: 1.5vh;
}
::-webkit-scrollbar-thumb{
    border-radius: 1vh;
    background-color: rgb(8, 42, 88);
}